/* 'Open Sans' font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);

body {
    background: #456;
    font-family: 'Open Sans', sans-serif;
}

.register{
    width: 400px;
    margin: 16px auto;
    font-size: 16px;
}

/* Reset top and bottom margins from certain elements */
.register-header,
.register p {
    margin-top: 0;
    margin-bottom: 0;
}

/* The triangle form is achieved by a CSS hack */
.register-triangle {
    width: 0;
    margin-right: auto;
    margin-left: auto;
    border: 12px solid transparent;
    border-bottom-color: #208aa7;
}

.register-header {
    background: #208aa7;
    padding: 20px;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.register-container {
    background: #ebebeb;
    padding: 12px;
}

/* Every row inside .login-container is defined with p tags */
.register p {
    padding: 12px;
}

.register input, select {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.register input[type="username"],
.register input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

/* Text fields' focus effect */
.register input[type="username"]:focus,
.register input[type="password"]:focus {
    border-color: #888;
}

.register input[type="submit"] {
    background: #208aa7;
    border-color: transparent;
    color: #fff;
    cursor: pointer;

}

.register input[type="submit"]:hover {
    background: #0d637b;
}

/* Buttons' focus effect */
.register input[type="submit"]:focus {
    border-color: #0d637b;
}

.error {
    color: red;
}